.color-list-wrap {
    width: 100vw;
    height: calc(100% - 60px);
    display: flex;
}
.color-list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-code {
    font-weight: bold;
    text-align: center;
    opacity: 0.4;
}