.color-list-wrap {
    width: 100vw;
    height: calc(100% - 60px);
    display: flex;
}
.color-list {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-list-tools {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    opacity: 0.4;
    display: flex;
}
.change-icon {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}